.DS_Store
.vscode/
.ipynb_checkpoints/
*/__pycache__/
archive/
bin/
build/
config/config_train.yaml
config/dataset.ini
config_old/
data/
data
figure/
log/
note/
notebook/
*.sif
*.out
*.log
submit.sh
apptainer_test.py
apptainer_test.sh
